<div class="container py-4">
  <h1>Movie List</h1>
  <table class="table mt-2">
    <thead>
      <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Year</td>
        <td>Rating</td>
        <td>Runtime</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.id }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.rating }}</td>
        <td>{{ movie.runtime }}</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    [collectionSize]="collectionSize"
    [pageSize]="limit"
    [page]="currentPage"
    (pageChange)="pageChanged($event)"
  ></ngb-pagination>
</div>
